.spSection {
  background-color: rgb(104, 252, 18);
  height: 100vh;
}

.spHeader {
  text-align: center;
}

.header {
  color: #462626;
  font-size: 36px;
  display: inline-block;
  width: 300px;
  text-align: center;
  border-bottom: 4px solid #a30b3d;
}

.textHolder {
  font-size: 24px;
  color: #462626;
  width: 300px;
  text-align: justify;
}

.spItems {
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spItemsContainer {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 1000px;
}

.tictactoe,
.movielist,
.rockpaperscissors {
  border-radius: 25px;
}

.tictactoe:hover,
.movielist:hover,
.rockpaperscissors:hover {
  opacity: 0.8;
}
