.achievementSection {
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
  height: 750px;
}

.box {
  margin: 50px;
  padding: 20px;
  background-color: rgb(177, 231, 248);
  border-radius: 50px;
}

.achieveHeader {
  text-align: center;
}

.header {
  color: #462626;
  font-size: 36px;
  display: inline-block;
  width: 300px;
  text-align: center;
  border-bottom: 4px solid #a30b3d;
}

.textHolder {
  font-size: 24px;
  color: #462626;
  width: 300px;
  text-align: justify;
}

.achieveItems {
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achieveItemsContainer {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 1000px;
}

.scratchPic,
.appinventorPic,
.daysofcodePic {
  border-radius: 25px;
}

.scratchPic:hover,
.appinventorPic:hover,
.daysofcodePic:hover {
  opacity: 0.8;
}
